# Basics =======================================================================

.DS_Store
Thumbs.db
env_local.rb
*.swp
node_modules/
.vscode/
cypress.env.json
phpcs.ruleset.xml
.phpunit.result.cache
.tool-versions
